doctype html
html
  head
    meta(charset='utf-8')
    link(href='/stylesheets/dashboard.css', rel='stylesheet', media='screen', title='no title', charset='utf-8')
    link(href='/stylesheets/accordion.css', rel='stylesheet', media='screen', title='no title', charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
    title
  body
    header
      a.mywins(href='#') mywins
      a.signout(href='#') sign out
    .userData
      .userImg
        img(src='http://static.boredpanda.com/blog/wp-content/uploads/2016/04/beautiful-fluffy-cat-british-longhair-13.jpg', alt='', height='130', width='130')
      .userNames
        | username
        br
        |         user name
      .score
        | score
        br
        |         ranking
    .tab-group
      each val, index in [1, 2, 3, 4, 5]        
        .tab
          input(id="tab" + (index+1))(type='radio', name='tabs')
          label(for='tab' + (index+1)) label #{index+1}
          .tab-content
            .recordsAndStandings
              .gameRecords                
                script.
                  'use strict'
                  var name = "firstFunction" + (#{index}+1)
                  var innerLogic = function(){
                    var addNewGame = document.getElementById("addNewGame" + (#{index}+1))
                    //- lines 37-46 from notes will go here
                    var opponentName = document.createElement("input")
                    opponentName.setAttribute("type", "text")
                    opponentName.setAttribute("name", "opponent")
                    opponentName.setAttribute("placeholder", "opponent name")
                    var userScore = document.createElement("input")
                    userScore.setAttribute("type", "number")
                    userScore.setAttribute("name", "userScore")
                    userScore.setAttribute("placeholder", "your score")
                    var opponentScore =  document.createElement("input")
                    opponentScore.setAttribute("type", "number")
                    opponentScore.setAttribute("name", "opponentScore")
                    opponentScore.setAttribute("placeholder", "their score")
                    var submit = document.createElement("input")
                    submit.setAttribute("type", "submit")
                    //- lines 50 and 51 from notes will go here
                    addNewGame.appendChild(opponentName)
                    addNewGame.appendChild(userScore)
                    addNewGame.appendChild(opponentScore)
                    addNewGame.appendChild(submit)
                  }
                  var func#{index} = new Function("action", "return function " + name + "(){action()}")(innerLogic)
                button(id = "add_new" + (index+1))(type='button', name='button', onclick='func#{index}()') + Add Game Record
                form(id = "addNewGame" + (index+1))(action='#', method='post')
                table
                  tbody
                    each user in [{date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 30', p1: 'demjules', p2: 'sarameyer', score: '0-1', wL: 'W'}, {date: 'July 19', p1: 'rightricky', p2: 'sarameyer', score: '3-7', wL: 'W'}, {date: 'July 10', p1: 'dumb', p2: 'okay', score: '3-7', wL: 'L'}, {date: 'July 7', p1: 'hate', p2: 'lotsOfHate', score: '3-7', wL: 'W'}]
                      tr
                        td #{user.date}
                        td #{user.p1}
                        td #{user.p2}
                        td #{user.score}
                        td #{user.wL}
              .currentStandings
                p.current current standings:
                table
                  tbody
                    each user, index in [{"username": 'annfran', "rating": '200'}, {"username": 'demjules', "rating": '189'}, {"username": 'rightricky', "rating": '187'}, {"username": 'mscoulter', "rating": '180'}, {"username": 'sarameyer', "rating": '179'}]
                      if(index == 10)
                        -break
                      tr
                        td #{index+1}.
                        td #{user.username}
                        td #{user.rating}


    div
    //- script(src='/js/anna.js')
