doctype html
html
  head
    meta(charset='utf-8')
    link(href='/stylesheets/dashboard.css', rel='stylesheet', media='screen', title='no title', charset='utf-8')
    link(href='/stylesheets/accordion.css', rel='stylesheet', media='screen', title='no title', charset='utf-8')
    link(href='/stylesheets/buttons.css', rel='stylesheet', media='screen', title='no title', charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
    script(src='https://use.fontawesome.com/07b120bce6.js')
    title
  body
    header
       a(href='/splashpage')
         img#logo(src='/images/mywins@1x.png', alt='mywins')
       a#signout(href='#') sign out
    .userData
      .userImg
        img(src='http://static.boredpanda.com/blog/wp-content/uploads/2016/04/beautiful-fluffy-cat-british-longhair-13.jpg', alt='', height='130', width='130')
        //- img(src='#{image_url}', alt='', height='130', width='130')
      .userNames
        p(style="margin-left:-275%; margin-top:-10%;") username
        //- p(style="margin-left:-275%; margin-top:-10%;") #{user.username}
        br
        p(style="margin-left:-275%; margin-top: -25%;") user name
        //- p(style="margin-left:-275%; margin-top: -25%;") #{user.firstName} #{user.lastName}
      .score
        p(style="font-size: 5em; margin-top:-25%;") 108
        //- p(style="font-size: 5em; margin-top:-25%;") #{user.ranking} ???
        br
        p(style="margin-top: -15%; margin-left:28%;") 3rd place
    .tab-group
      each val, index in [1, 2, 3, 4, 5, 6, 7, 8, 9]        
        .tab
          input(id="tab" + (index+1))(type='radio', name='tabs')
          label(for='tab' + (index+1)) 
            img(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/ping-pong-white.png?alt=media&token=0968e77a-c8e1-42f8-85d2-8f924d1dc56f', height='20', width='20')
            | &nbsp; sport name
          //- label(for='tab' + (index+1), style='background:#{games.color};') 
          //-   img(src='#{games.icon}', height='20', width='20')
          //-   | &nbsp; #{games.type}
          .tab-content
            .recordsAndStandings
              .gameRecords                
                script.
                  'use strict'
                  var name = "firstFunction" + (#{index}+1)
                  var innerLogic = function(){
                    var addNewGame = document.getElementById("addNewGame" + (#{index}+1))
                    addNewGame.innerHTML = " "
                    //- lines 37-46 from notes will go here
                    var opponentName = document.createElement("input")
                    opponentName.setAttribute("type", "text")
                    opponentName.setAttribute("name", "opponent")
                    opponentName.setAttribute("placeholder", "opponent name")
                    opponentName.required=true
                    var userScore = document.createElement("input")
                    userScore.setAttribute("type", "number")
                    userScore.setAttribute("name", "userScore")
                    userScore.setAttribute("placeholder", "your score")
                    userScore.required=true
                    var opponentScore =  document.createElement("input")
                    opponentScore.setAttribute("type", "number")
                    opponentScore.setAttribute("name", "opponentScore")
                    opponentScore.setAttribute("placeholder", "their score")
                    opponentScore.required=true
                    var submit = document.createElement("input")
                    submit.setAttribute("type", "submit")
                    //- lines 50 and 51 from notes will go here
                    addNewGame.appendChild(opponentName)
                    addNewGame.appendChild(userScore)
                    addNewGame.appendChild(opponentScore)
                    addNewGame.appendChild(submit)
                  }
                  var func#{index} = new Function("action", "return function " + name + "(){action()}")(innerLogic)
                button(id = "add_new" + (index+1))(type='button', name='button', onclick='func#{index}()') + Add Game Record
                form(id = "addNewGame" + (index+1))(action='/addrecord', method='post')
                table
                  tbody
                    each user in [{date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 31', p1: 'annfran', p2: 'sarameyer', score: '3-1', wL: 'W'}, {date: 'July 30', p1: 'demjules', p2: 'sarameyer', score: '0-1', wL: 'W'}, {date: 'July 19', p1: 'rightricky', p2: 'sarameyer', score: '3-7', wL: 'W'}, {date: 'July 10', p1: 'dumb', p2: 'okay', score: '3-7', wL: 'L'}, {date: 'July 7', p1: 'hate', p2: 'lotsOfHate', score: '3-7', wL: 'W'}]
                      tr
                        td #{user.date}
                        td #{user.p1}
                        td #{user.p2}
                        td #{user.score}
                        td #{user.wL}
              .currentStandings
                p.current current standings:
                .currentTable
                  table
                    tbody
                      each user, index in [{"username": 'annfran', "rating": '200'}, {"username": 'demjules', "rating": '189'}, {"username": 'rightricky', "rating": '187'}, {"username": 'mscoulter', "rating": '180'}, {"username": 'sarameyer', "rating": '179'}, {"username": 'annfran', "rating": '200'}, {"username": 'demjules', "rating": '189'}, {"username": 'rightricky', "rating": '187'}, {"username": 'mscoulter', "rating": '180'}, {"username": 'sarameyer', "rating": '179'}, {"username": 'annfran', "rating": '200'}, {"username": 'demjules', "rating": '189'}, {"username": 'rightricky', "rating": '187'}, {"username": 'mscoulter', "rating": '180'}, {"username": 'sarameyer', "rating": '179'}]
                        if(index == 10)
                          -break
                        tr
                          td #{index+1}.
                          td #{user.username}
                          td #{user.rating}

    .tab-group.second
      .tab.newGame
        input#newSoloGame(type='radio', name='tabs')
        label(for='newSoloGame') + Add New Game
        .tab-content.newGames
          form(action='#', method='post')
            input#pingRadio(type='radio', name='sport', value='ping pong')
            label#pingBoc.btn(for='pingRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/ping-pong-color.png?alt=media&token=6939542f-b9b0-4bb7-9fa0-5c864b964d0c')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/ping-pong-white.png?alt=media&token=0968e77a-c8e1-42f8-85d2-8f924d1dc56f')
              |     Ping Pong
            input#foosRadio(type='radio', name='sport', value='foosball')
            label#foosBoc.btn(for='foosRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/foosball-color.png?alt=media&token=b2f16121-b03f-4291-86c5-88e8cb4cb3cb')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/foosball-white.png?alt=media&token=1820e267-0f43-414e-a18a-d206feaa4a8d')
              |     Foosball
            input#airRadio(type='radio', name='sport', value='air hockey')
            label#airBoc.btn(for='airRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/air-color.png?alt=media&token=f7e6c604-8ad2-490a-b7ae-1c38579fb88f')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/air-white.png?alt=media&token=976b7c9f-9506-4e39-b9d4-95e1c477ca22')
              |     Air Hockey
            input#cornRadio(type='radio', name='sport', value='cornhole')
            label#cornBoc.btn(for='cornRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cornhole-color.png?alt=media&token=d3c7c305-0e78-48ca-8b9e-013be8f71c27')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cornhole-white.png?alt=media&token=fdbf69ec-2635-4838-92ab-c9351c93f793')
              |     Corn Hole
            input#bocRadio(type='radio', name='sport', value='bocce ball')
            label#btnBoc.btn(for='bocRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/icon-bocceball.png?alt=media&token=2a46bdac-86b8-4c2e-adb0-b85755033605')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/boccee%20white.png?alt=media&token=ac45db39-ad37-4975-bef2-aa351fe1679b')
              |     Bocce Ball
            input#poolRadio(type='radio', name='sport', value='pool')
            label#poolBoc.btn(for='poolRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/pool-color.png?alt=media&token=635f9ee5-337d-47ce-bf86-9eecc8a36cdb')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/pool-white.png?alt=media&token=bdbd1abe-a455-4496-9f53-cbb3f22c3500')
              |     Pool
            input#spikeRadio(type='radio', name='sport', value='spikeball')
            label#spikeBoc.btn(for='spikeRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/spike-color.png?alt=media&token=8d63f110-2198-4bf5-8fc0-dc5f52d9c5e7')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/spike-white.png?alt=media&token=fc9247c3-26e8-4b6a-bf7a-e0db512fa4e1')
              |     Spikeball
            input#kanRadio(type='radio', name='sport', value='kan jam')
            label#kanBoc.btn(for='kanRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/kan-color.png?alt=media&token=c7f757e5-2303-4e61-a121-2467967a9078')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/kan-white.png?alt=media&token=cdba6a49-ac18-4773-944c-631c8df7a955')
              |     Kan Jam
            input#cardsRadio(type='radio', name='sport', value='cards')
            label#cardsBoc.btn(for='cardsRadio')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cards-color.png?alt=media&token=1df43d3a-b007-498f-96ec-7b013bf69c29')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cards-white.png?alt=media&token=4ad90906-8ef8-4b5a-b343-8a43b3b78347')
              |     Cards
            
      .tab.newGame
        input#newTeamGame(type='radio', name='tabs')
        label(for='newTeamGame') + Add New Team Game
        .tab-content.newGames.newTeam
          form.teamGame(action='#')
            input#pingRadioTeam(type='radio', name='sport', value='ping pong')
            label#pingBocTeam.btn(for='pingRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/ping-pong-color.png?alt=media&token=6939542f-b9b0-4bb7-9fa0-5c864b964d0c')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/ping-pong-white.png?alt=media&token=0968e77a-c8e1-42f8-85d2-8f924d1dc56f')
              |     Ping Pong
            input#foosRadioTeam(type='radio', name='sport', value='foosball')
            label#foosBocTeam.btn(for='foosRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/foosball-color.png?alt=media&token=b2f16121-b03f-4291-86c5-88e8cb4cb3cb')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/foosball-white.png?alt=media&token=1820e267-0f43-414e-a18a-d206feaa4a8d')
              |     Foosball
            input#airRadioTeam(type='radio', name='sport', value='air hockey')
            label#airBocTeam.btn(for='airRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/air-color.png?alt=media&token=f7e6c604-8ad2-490a-b7ae-1c38579fb88f')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/air-white.png?alt=media&token=976b7c9f-9506-4e39-b9d4-95e1c477ca22')
              |     Air Hockey
            input#cornRadioTeam(type='radio', name='sport', value='corn hole')
            label#cornBocTeam.btn(for='cornRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cornhole-color.png?alt=media&token=d3c7c305-0e78-48ca-8b9e-013be8f71c27')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cornhole-white.png?alt=media&token=fdbf69ec-2635-4838-92ab-c9351c93f793')
              |     Corn Hole
            input#bocRadioTeam(type='radio', name='sport', value='bocce ball ')
            label#btnBocTeam.btn(for='bocRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/icon-bocceball.png?alt=media&token=2a46bdac-86b8-4c2e-adb0-b85755033605')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/boccee%20white.png?alt=media&token=ac45db39-ad37-4975-bef2-aa351fe1679b')
              |     Bocce Ball
            input#poolRadioTeam(type='radio', name='sport', value='pool')
            label#poolBocTeam.btn(for='poolRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/pool-color.png?alt=media&token=635f9ee5-337d-47ce-bf86-9eecc8a36cdb')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/pool-white.png?alt=media&token=bdbd1abe-a455-4496-9f53-cbb3f22c3500')
              |     Pool
            input#spikeRadioTeam(type='radio', name='sport', value='spikeball')
            label#spikeBocTeam.btn(for='spikeRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/spike-color.png?alt=media&token=8d63f110-2198-4bf5-8fc0-dc5f52d9c5e7')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/spike-white.png?alt=media&token=fc9247c3-26e8-4b6a-bf7a-e0db512fa4e1')
              |     Spikeball
            input#kanRadioTeam(type='radio', name='sport', value='kan jam')
            label#kanBocTeam.btn(for='kanRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/kan-color.png?alt=media&token=c7f757e5-2303-4e61-a121-2467967a9078')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/kan-white.png?alt=media&token=cdba6a49-ac18-4773-944c-631c8df7a955')
              |     Kan Jam
            input#cardsRadioTeam(type='radio', name='sport', value='cards')
            label#cardsBocTeam.btn(for='cardsRadioTeam')
              img.color(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cards-color.png?alt=media&token=1df43d3a-b007-498f-96ec-7b013bf69c29')
              img.white(src='https://firebasestorage.googleapis.com/v0/b/test-project-2e540.appspot.com/o/cards-white.png?alt=media&token=4ad90906-8ef8-4b5a-b343-8a43b3b78347')
              |     Cards
            .createTeam
              br
              p select a teammate:  
              br
              .styleSelect
                select
                //-each team in teams make an option
                //- option(value='#{user.id}') #{user.name}
                  option(value='anna') anna
                  option(value='anna') anna
                  option(value='anna') anna
                  option(value='anna') anna
                  option(value='anna') anna
              input(type='text', name='teamName', placeholder='create team name', required='')
              br
              input(type='submit')
    footer ©2016 mywins, inc
