html
  head
    title Dashboard
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='UTF-8')
  body
    h3 #{userInfo.userName}
    h5 #{userInfo.firstName} #{userInfo.lastName}
    br
    for game in gameTypes
      h3 #{game.type}
      for stats in gameStats
        if stats.user_game_id === game.usergamesid
          p Rating: #{stats.rating}
      p(style={color: 'blue'}) Add a Game Record
      form(action="/addrecord", method="post")
        input(type="text", name="game_id", style={display: 'none'}, value= "#{game.game_id}")
        input(type="text", name="user1_id", style={display: 'none'}, value= "#{userInfo.id}")
        input(type="text", name="user2_id", placeholder="opponent")
        input(type="number", name="user1_score", placeholder="your score")
        input(type="number", name="user2_score", placeholder="opponent's score")
        input(type="submit")
      for records in gameRecords
        if records.game_id === game.game_id
          if records.user1_id === userInfo.id && userInfo.userName !== records.userName
            p
              b #{userInfo.userName}
              |  #{records.user1_score} - #{records.user2_score}
              b #{records.userName}
          else if userInfo.userName !== records.userName
            p
              b #{records.userName}
              |  #{records.user1_score} - #{records.user2_score}
              b #{userInfo.userName}
      br
      br

    for teams in teamStuff
      
        h2 #{teams.type}
        h4 #{teams.name}
        p Rating: #{teams.teamRating}
        p(style={color: 'blue'}) Add a Game Record
        form(action="/addteamrecord", method="post")
          input(type="text", name="game_id", style={display: 'none'}, value= "#{teams.team_game_id}")
          input(type="text", name="team1_id", style={display: 'none'}, value= "#{userInfo.id}")
          input(type="text", name="team2_id", placeholder="opponent")
          input(type="number", name="team1_score", placeholder="your team's score")
          input(type="number", name="team2_score", placeholder="opponents' score")
          input(type="submit")
